version: '3'

services:
  todofront:
    image: docker69/gotodoappcli
    build: 
      context: ./client
    ports:
      - "80:80"
    networks: 
      - frontend
      - backend
    depends_on:
      - todoback
  
  todoback:
    image: docker69/gotodoapp
    build:
      context: .
      dockerfile: ./server/dockerfile
    ports:
      - "8080"
    networks: 
      - backend

networks: 
  frontend:
  backend: